body {
    background-color: rgb(253, 251, 251);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cabecalho {
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}
#titulo {
    text-align: center;
    top: 0;
    color: white;
    
}
.principal {
    position: static;
    top:300px;
    text-align: center;
}
.botao {
    position: static;
    padding: 20px;
    left: 15px;
    bottom: 25px;
    border-radius: 15%;
    background-color: black;
    color: white;
    text-decoration: none;
}

#listas {
    /* border: 3px solid red; */
    text-align: left;
    left: 50%;
}

#rodape {
    background-color: rgb(175, 175, 175);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
}
#artigo {
    position: static;
    width:  30%;
    text-align: center;
    left: 50%;
}